@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');


* {
    font-family: "Noto Naskh Arabic", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}